.navbar {
   background-color: #2196F3;
   border-color: #e7e7e7;
   border-radius: 0;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
   color: #ffffff;
   background-color: #1976D2;
}

.navbar-default .navbar-brand {
   color: #ffffff;
}

.navbar-default .navbar-nav>li>a {
   color: #fff;
}

.navbar-default .navbar-toggle {
   border-color: #fff;
}

.navbar-default .navbar-toggle .icon-bar {
   background-color: #ffffff;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
   background-color: #1976D2;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {
   color: #ffffff;
   background-color: #1976D2;
}

.dropdown-menu>li>a {
   color: #2196F3;
}

.logo {
  height: 25px;
  width: 25px;
  margin-right: 8px;
  margin-bottom: 4px;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.title,
.title>a:focus,
.title>a:hover {
   color: #ffffff;
  text-decoration: none;

}

.navbar-brand {
  color: #ffffff;
  text-decoration: none;
}
